.ListContainer{
    max-width: 780px;
    width: 100%;
    

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 50px auto;

    background: var(--grey-2);
    border-radius: 3px;
    border: none;

    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 10px;

        padding: 30px 0;
        margin: 0 auto;
    }

    .ListSubContainer{
        width: 100%;
        height: 53px;

        display: flex;
        justify-content: space-between;
        align-items: baseline;

        background: var(--grey-4);

        h1{
            color: var(--grey-0);
        }

        button{
            color: var(--grey-0);
            width: 33px;
            height: 32px;
            background: var(--grey-3);
            border-radius: 3px;

            &:hover{
                background: var(--grey-2);
            }
        }
    }
}

@media(max-width: 620px){
    .ListContainer{
        max-width: 290px;
        
        .ListSubContainer{
            padding: 0 10px;
        }
    }
}