.LoginContainer {
    max-width: 1440px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    color: var(--grey-0);
    background: var(--grey-4);

    .LoginSubContainer {
        max-width: 370px;
        width: 100%;
        max-height: 558px;
        height: 100%;

        margin: 50px;
        border-radius: 3px;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        margin: 200px auto;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 20px;

            background: var(--grey-3);

            width: 100%;
            height: 100%;

            padding: 50px 20px;

            button {
                width: 324px;
                height: 48px;
                border-radius: 5px;

                background: var(--color-primary);
                color: var(--grey-0);

                &:hover {
                    background: var(--color-primary-focus);
                }
            }

            .InputContainer {
                max-width: 330px;
                width: 100%;
                height: 106px;
                gap: 10px;

                display: flex;
                flex-direction: column;
                align-items: flex-start;

                input {
                    width: 100%;
                    height: 48px;

                    background: var(--grey-2);
                    border-radius: 2px;
                    padding: 0 20px;

                    &:focus {
                        color: var(--grey-0);
                    }
                }
            }

            .Subscribe {
                display: flex;
                flex-direction: column;
                align-items: center;

                max-width: 324px;
                width: 100%;
                height: 100px;

                gap: 20px;

                p {
                    color: var(--grey-1);
                }

                .Link {
                    width: 100%;
                    height: 48px;

                    background: var(--grey-1);
                    color: var(--grey-0);
                    border-radius: 5px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

@media(max-width: 620px) {
    .LoginContainer {

        .LoginSubContainer {
            max-width: 292px;

            form{

                button{
                    width: 259px;
                    height: 39px;
                }
                .Subscribe{
                    .Link{
                        width: 259px;
                        height: 39px;
                    }
                }
            }
            .InputContainer {
                max-width: 260px;
                padding: 0 10px;
            }
        }
    }
}